* {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Rounded 500";
}
:root {
  --darkBlue: #01516e;
  --yellow: #f0ce15;
  --grey: #01516e;
  --blue: #50c6db;
  --black: #262727;
  --hr: #e7e7e7;
  --seaGreen: #338199;
  --silver: #fafafa;
  --lightGrey: #5d5e5e;
  --green: #51bb7b;
  --darkGreen: #267048;
}
.topBar {
  width: 100%;
  height: 54px;
  background-color: var(--darkBlue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar p {
  font-size: 18px;
  font-weight: 400;
}
#italic {
  font-style: italic;
}
button {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
#btnLearnMore {
  width: 130px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey);
  background-color: var(--yellow);
  margin-left: 10px;
}
#btnLearnMore:hover {
  color: black;
}
header {
  height: 120px;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 240px;
  height: 70px;
}
header .contactSearch {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--darkBlue);
}
.contactSearch p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  width: 578px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
nav li a {
  color: inherit;
}
#btnSignUp {
  width: 100px;
  height: 40px;
  background-color: white;
  color: var(--blue);
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s ease;
}
#btnSignUp:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
main {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--blue);
}
main .background {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.cloudRow1 {
  height: 145px;
  width: 100%;
}
.cloudRow1 img {
  height: inherit;
  width: 245px;
  margin-left: -4em;
}
#cloudAnimation {
  animation: cloud 3s linear infinite;
}
@keyframes cloud {
  50% {
    transform: translateY(10px);
  }
  100% {
  }
}
.cloudRow2 {
  height: 145px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#cloudSun {
  height: 200px;
  width: 480px;
}
main .content {
  height: 900px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  position: absolute;
}
main h1 {
  font-size: 50px;
  line-height: 53px;
  font-weight: 500;
  color: white;
}
main h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  color: var(--darkBlue);
}
main .content a {
  color: var(--darkBlue);
}
.signUp {
  width: 500px;
  height: 48px;
  display: flex;
}
input {
  width: 310px;
  height: 48px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
#btnSignUpForFree {
  width: 190px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--darkBlue);
  color: white;
}
main p {
  font-size: 14px;
  font-weight: 700;
  color: var(--darkBlue);
}
main .content img {
  border-radius: 5px;
  box-shadow: 0 0 10px silver;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.plans {
  height: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans .content {
  width: 85%;
  height: 1000px;
  margin-top: 12em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  color: var(--black);
}
p {
  width: 550px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--grey);
  text-align: center;
}
.plansRow {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.plansCol {
  width: 270px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--hr);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.plansCol:hover {
  box-shadow: 0 0 10px silver;
}
.plansCol p {
  font-size: 12px;
  font-weight: 400;
}
#price {
  font-size: 46px;
  font-weight: 400;
  color: var(--blue);
}
#btnGetStarted {
  width: 130px;
  height: 33px;
  background-color: var(--seaGreen);
  color: white;
  transition: all 0.25s ease-in-out;
}
#btnGetStarted:hover {
  background-color: var(--darkBlue);
}
.plansCol .hr {
  width: 50%;
  border-top: 1px solid var(--hr);
}
#blue {
  color: var(--blue);
}
.plansCol .rating {
  width: 80%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.plansCol .ratingBar {
  width: 100%;
  display: flex;
}
.blueRating {
  border-top: 5px solid var(--blue);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.greyRating {
  width: 100%;
  border-top: 5px solid var(--hr);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.plans .customPlan {
  width: 100%;
  height: 112px;
  border: 1px solid var(--hr);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.customPlan .customPlanLeftSec {
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
}
.customPlanLeftSec .contentArea {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 2em;
}
.customPlanLeftSec p {
  width: 690px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}
#btnGetAllFeatures {
  width: 218px;
  height: 40px;
  background-color: var(--blue);
  color: white;
  transition: all 0.25s ease-in-out;
}
#btnGetAllFeatures:hover {
  background-color: var(--darkBlue);
}
.hostingExperience {
  height: 800px;
  width: 85%;
  border-top: 2px solid var(--hr);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hostingExperience p {
  width: 60%;
}
.hostingExperience .tourRow {
  height: 560px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hostingExperience .tourCol {
  width: 350px;
  height: 410px;
}
.tourCol li {
  width: 350px;
  height: 80px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  list-style-type: none;
  background-color: white;
}
.tourCol li:hover {
  color: var(--blue);
}
li svg {
  height: 40px;
  width: 40px;
  padding-right: 1em;
}
.tourCol li a {
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.tourCol li a:hover {
  color: var(--blue);
}
.help {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--silver);
}
.help img {
  width: 528px;
  height: 632px;
}
.help .helpCol {
  width: 470px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.helpCol p {
  width: 450px;
  text-align: left;
}
.helpCol a {
  color: var(--blue);
}
.hostingPlans {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: var(--silver);
}
.hostingPlans .content {
  height: 1000px;
  width: 85%;
  border-top: 2px solid var(--hr);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hostingPlans .hostingFeatures {
  height: 596px;
  width: 80%;
  background-color: white;
  box-shadow: 0 5px 15px 0 silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hostingFeatures .hostingFeaturesCol {
  height: 450px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hostingFeatures .hostingFeaturesRow {
  height: 96px;
  display: flex;
  justify-content: space-between;
}
.hostingFeaturesRow svg {
  height: 60px;
  width: 60px;
}
.hostingFeaturesRow .description {
  width: 280px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hostingFeaturesRow h3 {
  font-weight: 500;
  color: black;
}
.hostingFeaturesRow h3 a {
  color: inherit;
}
.hostingFeaturesRow p {
  width: 300px;
  height: 66px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: var(--lightGrey);
  text-align: left;
}
#btnSignUpForFree {
  height: 48px;
  width: 190px;
  background-color: var(--green);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: all 0.25s ease-in-out;
  font-size: 15px;
  font-weight: 700;
}
#btnSignUpForFree:hover {
  background-color: var(--darkGreen);
}
.hostingPlans .signUp {
  height: 48px;
  width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hostingPlans .signUp p {
  font-size: 16px;
  font-weight: 400;
  color: var(--lightGrey);
}
.testimonials {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials h1,
p {
  margin-bottom: 0.5em;
}
.testimonials .content {
  width: 740px;
  height: 180px;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
.testimonials img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.testimonials h4 {
  width: 478px;
  height: 90px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-align: left;
  margin-top: 2em;
}
.testimonials a {
  color: var(--blue);
}
.testimonials .companies {
  width: 70%;
  height: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--hr);
}
.companies img {
  height: 160px;
  width: 80%;
  border-radius: 0;
}
.faq {
  width: 100%;
  height: 765px;
  background-color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.faq h1 {
  margin-bottom: 0.5em;
}
.accordianArea {
  width: 70%;
  height: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2em;
}
.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid var(--hr);
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: white;
}
.panel {
  width: 96.4%;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.panel p {
  text-align: left;
  width: 100%;
  font-size: 15px;
  color: var(--grey);
}
.panel a {
  color: var(--blue);
  text-decoration: underline;
  transition: 0.25s ease-in-out;
  display: inline;
}
.panel a:hover {
  color: var(--darkBlue);
}
.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
#btnFaq {
  width: 354px;
  height: 43px;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 700;
  color: white;
  transition: 0.25s ease-in-out;
  margin-top: 3em;
}
#btnFaq:hover {
  background-color: var(--darkBlue);
}
.signUpForFree {
  height: 520px;
  width: 100%;
  background-color: var(--darkBlue);
  display: flex;
  align-items: center;
}
.signUpForFree .content {
  width: 630px;
  height: 187px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.signUpForFree h1 {
  color: white;
  font-size: 50px;
}
.signUpForFree img {
  height: 520px;
  width: 600px;
}
.socialNav {
  height: 78px;
  width: 100%;
  background-color: var(--blue);
}
